<!--首页模板-->
<ion-view>
    <div class="home_div">
        <!--   头部     -->

        <ion-header-bar align-title="left" class="bar-light bg_none">
            <header-div></header-div>
        </ion-header-bar>
        <ion-pane>
            <ion-content>
                <ion-refresher pulling-text="下拉刷新" on-refresh="doRefreshHome()"></ion-refresher>
                <div class="home_content">
                    <!--   内容上部     -->
                    <div class="home_content_head">
                        <home-content-head></home-content-head>
                    </div>
                    <!--   内容中部     -->
                    <div class="home_content_body">
                        <home-content-body></home-content-body>
                    </div>
                </div>
            </ion-content>
            <!--   内容     -->
        </ion-pane>
    </div>
</ion-view>
