<!--我的账户模板-->
<ion-view>
    <ion-content>
        <div class="myInfo_account_div">
            <ion-header-bar align-title="left" class="bar-positive">
                <div class="bar bar-header bar-light myInfo_account_header_fixed">
                    <div class="tabs tabs-icon-top">
                        <a class="tab-item myInfo_account_icon_left"
                           ng-click="myInfoAccountBack()" ui-sref="myInfo"
                           style="height: 100%;width: 44px;left: 0;z-index: 2">
                            <i class="icon ion-ios-arrow-back myInfo_text_weight"></i>
                        </a>
                        <h1 class="title" style="line-height: 54px">我的</h1>
                        <a class="tab-item myInfo_account_icon_right" href="#">
                            <i class="iconfont icon-kefu myInfo_text_weight"></i>
                        </a>
                    </div>
                </div>
            </ion-header-bar>
            <ion-content>
                <div class="myInfo_account_body">
                    <!--         生成银行卡信息           -->
                    <div class="bankCard_div" ng-repeat="(key,item) in bankCardInfo">
                        <div class="bankCard_div_top">
                            <span>
                                <i class="{{cardImg(item.cardImg)}}"></i>
                            </span>
                            <div>
                                <p>{{ bankCardIDHide(key) }}</p>
                                <p>长城电子借记卡 （{{ item.type }}类账户）</p>
                            </div>
                        </div>
                        <div class="bankCard_div_center">
                            <span>账面余额</span>
                            <span>
                                人民币元 <span>{{ item.overage }}</span>
                            </span>
                        </div>
                        <div class="bankCard_div_bottom">
                            <span>交易明细</span>
                            <span>|</span>
                            <span>转账</span>
                            <span>|</span>
                            <span>买理财</span>
                        </div>
                    </div>
                </div>
            </ion-content>
        </div>
    </ion-content>
</ion-view>
