<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <!--  框架  -->
    <link href="../lib/ionic/ionic/css/ionic.css" rel="stylesheet">
    <script src="../lib/ionic/ionic/js/ionic.bundle.js"></script>
    <!--  阿里的icon图标库  -->
    <link href="../css/icon/iconfont.css" rel="stylesheet">
    <!--  阿里的icon图标库-彩色  -->
    <link rel="stylesheet" href="../css/icon-color/iconfont.css">
    <link rel="preload" href="../css/icon-color/iconfont.css" as="font" type="font/woff2" crossorigin="anonymous">
    <!--  外部CSS样式表  -->
    <link href="../css/home.css" rel="stylesheet">
    <link href="../css/myInfo.css" rel="stylesheet">
    <link href="../css/myInfo_account.css" rel="stylesheet">
    <link href="../css/myInfo_IONotes.css" rel="stylesheet">
    <link href="../css/myInfo_aboutMy.css" rel="stylesheet">
</head>
<body ng-app="homeApp">
<div ng-controller="homeCtrl">
    <ion-nav-view></ion-nav-view>
    <!--   底部     -->
    <div class="bar bar-footer bar-light" ng-style="footerHide">
        <div class="tabs tabs-icon-top bg_none">
            <a class="tab-item" ng-class="classHome" ui-sref="home"
               ng-click="homeClick(); pageSelect('classHome')">
                <i class="iconfont icon-shouye footer_font_weight"></i>
                <span class="iconfont_text">首页</span>
            </a>
            <a class="tab-item" ng-class="classLicai" ui-sref="notWrite"
               ng-click="notPage('理财'); pageSelect('classLicai')">
                <i class="iconfont icon-licai footer_font_weight"></i>
                <span class="iconfont_text">理财</span>
            </a>
            <a class="tab-item" ng-class="classLife" ui-sref="notWrite"
               ng-click="notPage('生活');pageSelect('classLife')">
                <i class="iconfont icon-shenghuo footer_font_weight"></i>
                <span class="iconfont_text">生活</span>
            </a>
            <a class="tab-item" ng-class="classMyInfo" ui-sref="myInfo"
               ng-click="myInfoClick();pageSelect('classMyInfo')">
                <i class="iconfont icon-wode footer_font_weight"></i>
                <span class="iconfont_text">我的</span>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    let homeApp = angular.module('homeApp', ['ionic'])
</script>
<script src="./js/routerConfigJS.js"></script>
<script src="./js/controllerJS.js"></script>
<script src="./js/directiveJS.js"></script>
<!--这是模板-->
<!--首页模板-->
<script id="templates/homeTemplate.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <div class="home_div">
                <!--   头部     -->
                <ion-header-bar align-title="left" class="bar-light bg_none">
                    <header-div></header-div>
                </ion-header-bar>
                <ion-content>
                    <div class="home_content">
                        <!--   内容上部     -->
                        <div class="home_content_head">
                            <home-content-head></home-content-head>
                        </div>
                        <!--   内容中部     -->
                        <div class="home_content_body">
                            <home-content-body></home-content-body>
                        </div>
                    </div>
                </ion-content>
                <!--   内容     -->
            </div>
        </ion-content>
    </ion-view>
</script>
<!--没有写的页-->
<script id="templates/pageNotWrite.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <p style="text-align: center;line-height: 100vh;font-size: 40px">
                {{ pageName }}页没写</p>
        </ion-content>
    </ion-view>
</script>
<!--我的页模板-->
<script id="templates/myInfoTemplate.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <div class="myInfo">
                <div class="bar bar-header bar-light">
                    <div class="tabs tabs-icon-top">
                        <a class="tab-item myInfo_top_icon_left" href="#">
                            <i class="iconfont icon-tuichu2 text_weight"></i>
                            <span class="iconfont_text">退出</span>
                        </a>
                        <h1 class="title" style="line-height: 56px">我的</h1>
                        <a class="tab-item myInfo_top_icon_right" href="#">
                            <i class="iconfont icon-xiaoxi1 text_weight"></i>
                            <span class="iconfont_text">消息</span>
                        </a>
                    </div>
                </div>
                <div class="content has-header ionic-pseudo">
                    <div class="list">
                        <a class="item myInfo_item_height item-icon-left item-icon-right"
                           ui-sref="myInfo_account" ng-click="myInfoAccountClick()">
                            <i class="colorIcon color-wodezhanghu2"></i>
                            我的账户
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right"
                           ui-sref="IONotes" ng-click="IONotesClick()">
                            <i class="colorIcon color-jiaoyijilu1"></i>
                            收支记录
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-wangdian1"></i>
                            我的网点
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-rili"></i>
                            金融日历
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-anquanzhongxin"></i>
                            安全中心与设置
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <div class="item item-divider myInfo_item-height">
                        </div>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-kefu1"></i>
                            在线客服
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-genjinjilu"></i>
                            操作记录
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-jiangli1"></i>
                            我的奖品
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <div class="item item-divider myInfo_item-height">
                        </div>
                        <a class="item myInfo_item_height item-icon-left item-icon-right"
                           ui-sref="aboutMy" ng-click="aboutMyClick()">
                            <i class="colorIcon color-wode3"></i>
                            关于我们
                            <span class="item-note">
                                当前版本 &nbsp;{{ appVersion }}
                            </span>
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-yinsi"></i>
                            隐私政策
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <div class="item item-divider myInfo_item-height">
                        </div>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-yinhangzhanghukaihushenqingliucheng"></i>
                            在线开户
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-fenxiang1"></i>
                            我的分享
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>
<!--我的账户模板-->
<script id="templates/myInfoAccountTemplate.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <div class="myInfo_account_div">
                <ion-header-bar align-title="left" class="bar-positive">
                    <div class="bar bar-header bar-light myInfo_account_header_fixed">
                        <div class="tabs tabs-icon-top">
                            <a class="tab-item myInfo_account_icon_left"
                               ng-click="myInfoAccountBack()" ui-sref="myInfo"
                               style="height: 100%;width: 44px;left: 0;z-index: 2">
                                <i class="icon ion-ios-arrow-back myInfo_text_weight"></i>
                            </a>
                            <h1 class="title" style="line-height: 54px">我的</h1>
                            <a class="tab-item myInfo_account_icon_right" href="#">
                                <i class="iconfont icon-kefu myInfo_text_weight"></i>
                            </a>
                        </div>
                    </div>
                </ion-header-bar>
                <ion-content>
                    <div class="myInfo_account_body">
                        <!--         生成银行卡信息           -->
                        <div class="bankCard_div" ng-repeat="(key,item) in bankCardInfo">
                            <div class="bankCard_div_top">
                            <span>
                                <i class="{{cardImg(item.cardImg)}}"></i>
                            </span>
                                <div>
                                    <p>{{ bankCardIDHide(key) }}</p>
                                    <p>长城电子借记卡 （{{ item.type }}类账户）</p>
                                </div>
                            </div>
                            <div class="bankCard_div_center">
                                <span>账面余额</span>
                                <span>
                                人民币元 <span>{{ item.overage }}</span>
                            </span>
                            </div>
                            <div class="bankCard_div_bottom">
                                <span>交易明细</span>
                                <span>|</span>
                                <span>转账</span>
                                <span>|</span>
                                <span>买理财</span>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </div>
        </ion-content>
    </ion-view>
</script>
<!--收支记录页模板-->
<script id="templates/IONotesTemplate.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <div class="myInfo_IONotes_div">
                <ion-header-bar align-title="left" class="bar-positive">
                    <div class="bar bar-header bar-light">
                        <div class="tabs tabs-icon-top">
                            <a class="tab-item myInfo_IONotes_icon_left"
                               ng-click="myInfoAccountBack()" ui-sref="myInfo"
                               style="height: 100%;width: 44px;left: 0;z-index: 2">
                                <i class="icon ion-ios-arrow-back myInfo_text_weight"></i>
                            </a>
                            <h1 class="title" style="line-height: 54px">动帐通知</h1>
                        </div>
                    </div>
                </ion-header-bar>
                <ion-content>
                    <div class="myInfo_IONotes_body">
                        <div class="myInfo_IONotes_body_div" ng-repeat="(key,item) in tradingInfo">
                            <p>{{ item.date }}</p>
                            <div class="IONotes_body_div">
                                <p>
                                    &nbsp;&nbsp;&nbsp;{{ decideCardType(item.cardType) }}动账提醒
                                    <i class="iconfont icon-shanchu1 IONotes_body_div_del"></i>
                                </p>
                                <p>交易金额{{ showTextRmb(item.cardType) }}</p>
                                <p>{{ showRMB(item.cardType) }}{{ item.amount }}</p>
                                <div class="IONotes_body_div_info">
                                    <p>
                                        尊敬的用户：
                                    </p>
                                    <p>
                                        您尾号为 {{ lastCardID(item.cardID) }} 的农业银行{{decideCardType(item.cardType)}}发生了一笔动账交易
                                    </p>
                                    <p>
                                        交易时间：{{key}}
                                    </p>
                                    <p>
                                        交易金额：{{ showRMB(item.cardType) }}{{ item.amount }}
                                    </p>
                                </div>
                                <div class="IONotes_body_footer_icon">
                                    <div class="row">
                                        <div class="col">
                                            <i class="colorIcon color-unie64d-copy IONotes_body_footer_icon_size"></i>
                                            <div style="height: 5px"></div>
                                            <span>优惠券</span>
                                        </div>
                                        <div class="col">
                                            <i class="colorIcon color-jifenshangcheng IONotes_body_footer_icon_size"></i>
                                            <div style="height: 5px"></div>
                                            <span>积分换购</span>
                                        </div>
                                        <div class="col">
                                            <i class="colorIcon color-gouwuche IONotes_body_footer_icon_size"></i>
                                            <div style="height: 5px"></div>
                                            <span>聪明购商城</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </div>
        </ion-content>
    </ion-view>
</script>
<!--关于我们页模板-->
<script id="templates/aboutMyTemplate.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <div class="myInfo_aboutMy">
                <div class="bar bar-header bar-light">
                    <div class="tabs tabs-icon-top">
                        <a class="tab-item myInfo_aboutMy_icon_left"
                           ng-click="myInfoAccountBack()" ui-sref="myInfo"
                           style="height: 100%;width: 44px;left: 0;z-index: 2">
                            <i class="icon ion-ios-arrow-back myInfo_aboutMy_text_weight"></i>
                        </a>
                        <h1 class="title" style="line-height: 54px">关于我们</h1>
                    </div>
                </div>
                <div class="myInfo_aboutMy_body">
                    <div class="myInfo_aboutMy_body_div">
                        <p>当前版本：{{ myAppVersion }}</p>
                        <p>作者：软件1901柳君康</p>
                        <p>采用ionic和ionic路由制作，使用HBuilder X的 5+ app
                            项目制作并打包成为Android的安装包（只是利用了5+app的打包，并未调用安卓API），项目里95%的icon图标均来源于阿里的图标库</p>
                        <div>
                            <img src="../img/filelist.png" alt="" width="100%">
                        </div>
                        <p>项目已上传github</p>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>
</body>
</html>
