<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link href="../lib/ionic/ionic/css/ionic.css" rel="stylesheet">
    <script src="../lib/ionic/ionic/js/ionic.bundle.js"></script>
    <script src="../lib/angular/angular.min.js"></script>
    <!--  阿里的icon图标库  -->
    <link href="../css/icon/iconfont.css" rel="stylesheet">
    <!--  阿里的icon图标库-彩色  -->
    <link rel="stylesheet" href="../css/icon-color/iconfont.css">
    <link rel="preload" href="../css/icon-color/iconfont.css" as="font" type="font/woff2" crossorigin="anonymous">

    <link href="../css/home.css" rel="stylesheet">
    <link href="../css/myInfo.css" rel="stylesheet">
</head>
<body ng-app="homeApp">
<div ng-controller="homeCtrl">
    <ion-nav-view></ion-nav-view>
    <!--   底部     -->
    <div class="bar bar-footer bar-light">
        <div class="tabs tabs-icon-top bg_none">
            <a class="tab-item" ng-class="classHome" ui-sref="home"
               ng-click="homeClick(); pageSelect('classHome')">
                <i class="iconfont icon-shouye footer_font_weight"></i>
                <span class="iconfont_text">首页</span>
            </a>
            <a class="tab-item" ng-class="classLicai" ui-sref="notWrite"
               ng-click="notPage('理财'); pageSelect('classLicai')">
                <i class="iconfont icon-licai footer_font_weight"></i>
                <span class="iconfont_text">理财</span>
            </a>
            <a class="tab-item" ng-class="classLife" ui-sref="notWrite"
               ng-click="notPage('生活');pageSelect('classLife')">
                <i class="iconfont icon-shenghuo footer_font_weight"></i>
                <span class="iconfont_text">生活</span>
            </a>
            <a class="tab-item" ng-class="classMyInfo" ui-sref="myInfo"
               ng-click="myInfoClick();pageSelect('classMyInfo')">
                <i class="iconfont icon-wode footer_font_weight"></i>
                <span class="iconfont_text">我的</span>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    let homeApp = angular.module('homeApp', ['ionic'])
</script>
<script src="./js/routerConfigJS.js"></script>
<script src="./js/controllerJS.js"></script>
<script src="./js/directiveJS.js"></script>
<!--这是模板-->
<!--首页模板-->
<script id="templates/homeTemplate.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <div class="home_div">
                <!--   头部     -->
                <header-div></header-div>
                <!--   内容     -->
                <div class="home_content">
                    <!--   内容上部     -->
                    <div class="home_content_head">
                        <home-content-head></home-content-head>
                    </div>
                    <!--   内容中部     -->
                    <div class="home_content_body">
                        <home-content-body></home-content-body>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>
<!--没有写的页-->
<script id="templates/pageNotWrite.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <p style="text-align: center;line-height: 100vh;font-size: 40px">
                {{ pageName }}页没写</p>
        </ion-content>
    </ion-view>
</script>
<!--我的页模板-->
<script id="templates/myInfoTemplate.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <div class="myInfo">
                <div class="bar bar-header bar-light">
                    <div class="tabs tabs-icon-top">
                        <a class="tab-item myInfo_top_icon_left" href="#">
                            <i class="iconfont icon-tuichu2 text_weight"></i>
                            <span class="iconfont_text">退出</span>
                        </a>
                        <h1 class="title" style="line-height: 56px">我的</h1>
                        <a class="tab-item myInfo_top_icon_right" href="#">
                            <i class="iconfont icon-xiaoxi1 text_weight"></i>
                            <span class="iconfont_text">消息</span>
                        </a>
                    </div>
                </div>
                <div class="content has-header ionic-pseudo">
                    <div class="list">
                        <a class="item myInfo_item_height item-icon-left item-icon-right"
                           ng-click="" href="#">
                            <i class="colorIcon color-wodezhanghu2"></i>
                            我的账户
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-jiaoyijilu1"></i>
                            收支记录
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-wangdian1"></i>
                            我的网点
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-rili"></i>
                            金融日历
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-anquanzhongxin"></i>
                            安全中心与设置
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <div class="item item-divider myInfo_item-height">
                        </div>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-kefu1"></i>
                            在线客服
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-genjinjilu"></i>
                            操作记录
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-jiangli1"></i>
                            我的奖品
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <div class="item item-divider myInfo_item-height">
                        </div>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-wode3"></i>
                            关于我们
                            <span class="item-note">
                                当前版本 &nbsp;{{ appVersion }}
                            </span>
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-yinsi"></i>
                            隐私政策
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <div class="item item-divider myInfo_item-height">
                        </div>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-yinhangzhanghukaihushenqingliucheng"></i>
                            在线开户
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                        <a class="item myInfo_item_height item-icon-left item-icon-right" href="#">
                            <i class="colorIcon color-fenxiang1"></i>
                            我的分享
                            <i class="icon ion-ios-arrow-right" style="font-size: 22px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>
</body>
</html>
